@media (max-width:375px) {
    .header {
        &__link {
            display: none;
        }
        .search {
            input {
                width: 150px;
            }
        }
        &__logo {
            img {
                width: 65px;
            }
        }
    }
    .menu {
        top: 80px;
    }
    .home {
        &__title {
            font-size: 26px;
        }
    }
    .promo {
        &__wrapper {
            grid-template-columns: 280px;
        }
    }
}