@media (max-width:1024px) {
    .header {
        &__logo {
            img {
                width: 50px;
              
            }
        }
        &__time-works, &__link {
            font-size: 12px;
            
        }
        &__links {
            gap: 15px;
        }
        &__link {
          
            &:last-child {
                margin-left: 5px;
            }
        }
        .search  {
            input {
                width: 200px;
            }
        }
        .burger {
            span {
               transform: scale(0.8);
            }
        }
    } 
    
    .menu {
        top: 65px;
        &__wrapper {
            gap: 20px;
        }
        &__main, &__submain {
            gap: 10px;
            
        }
        &__main-link {
            font-size: 16px;
        }
        &__submain-link {
            font-size: 13px;
        }
        &__submain-title {
            font-size: 18px;
        }
        &__content {
            gap: 20px;
        }
       
    }
    .home {
        padding-top: 100px;
        &__wrapper {
            flex-direction: column;
        }
    }
    .promo {
        &__wrapper {
           grid-template-columns: 630px;
           justify-content: center;
        }
    }
    .demo {
        &__wrapper {
            flex-direction: column;
            gap: 10px;
        }
        &__descr {
            display: flex;
            justify-content: center;
            gap: 10px;
            text-align: center;
         } 
         &__img {
            img {
                height: auto;
            }
         }
         &__container  {
            flex-direction: column;
         }
         &__item {
           img {
            height: auto;
            
           }

         }
    }  
    .footer {
        &__logo {
            img {
                width: 100%;
            }
        } 
       &__menu-lists {
        gap: 5px;
       }
    }
}