:root {
	--krasnyy---cd3b31: #cd3b31;
	--chernyy---151516: #151516;
	--belyy---ffffff: #fff;
	--seryy---c4c4c4: #c4c4c4;
	--sizyy---6b7073: #6b7073;
	--svetlo-seryy---e4e4e4: #e4e4e4;
}

:root {
    --font-family: "Calibri", sans-serif;
  }