.header {
    box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.09);
    background: var(--belyy---ffffff);
    position: fixed;
    width: 100%;
    z-index: 9999;
   
    &__container {
        position: relative;
        display: flex;
        align-items: center;
    }
   &__logo {
    display: block;
    padding: 7.5px 0px;
    img {
        transition: all .3s ease-in-out;
    }
    &:hover {
        img {
            filter: grayscale(0.5);
            
        }
    }
   } 
   &__time-works {
    margin-left: 658px;
    font-weight: 400;
    font-size: 14px;
    color: var(--sizyy---6b7073);
    text-align: right;
   }
   &__links {
    margin-left: 86px;
   }
   &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--sizyy---6b7073);
    transition: all .3s ease-in-out;
    &:last-child {
        margin-left: 93px;
    }
    &:hover {
        color:var(--krasnyy---cd3b31)
    }
   } 
 
   .burger {
    position: relative;
    margin-left: 117px;
    cursor: pointer;
    span {
        position: absolute;
        border-radius: 6px;
        width: 33px;
        height: 4px;
        display: block;
        background: var(--krasnyy---cd3b31); 
        transition: all .3s ease-in-out;
        &:nth-child(1) {
            top: -9px;
        }
        &:nth-child(2) {
            width: 18px;
            left: 12px;
        }
        &:last-child {
            top: 9px;
        }
    }
    &__active {
        span {
            &:nth-child(1) {
                opacity: 0;
            }
            &:nth-child(2) {
                transform: rotate(125deg);
                width: 33px;
                left: 0;
            } 
            &:nth-child(3) {
                transform: rotate(-125deg);
                top: 0px;
              }
        }
    }
   }
}