.menu {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100vh;
    top: 103px;
    z-index: 9999;
    padding-top: 31px;
    padding-bottom: 79px; 
    &__active {
        display: block;
        overflow: auto;
    }
    &__wrapper {
        display: flex;
        gap: 60px;
    }
    &__divider {
        width: 1px;
        background: var(--seryy---c4c4c4);
    }
    &__main {
        display: flex;
        flex-direction: column;
        gap: 30px;
      &-link {
        font-weight: 400;
        font-size: 20px;
        transition: all .3s ease-in-out;
        color: var(--chernyy---151516);
        &:hover {
            color: var(--krasnyy---cd3b31);
        }
      }
    }
    &__content {
      
        display: flex;
        flex-wrap: wrap;
        gap: 120px;
    }
    &__submain {
       display: flex;
       flex-direction: column;
       gap: 40px;
       &-title {
        font-weight: 700;
        font-size: 24px;
        color: var(--chernyy---151516);
       }
        &-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 0%;
            color: var(--chernyy---151516);
            transition: all .3s ease-in-out;
            &:hover {
                color: var(--krasnyy---cd3b31);
            }
        }

    }
}